@using Microsoft.AspNetCore.Http
@{
    var userId = Context.Session.GetString("id");
    var name = Context.Session.GetString("name");
    var mail = Context.Session.GetString("email");
    var level = Context.Session.GetString("lvl");
    var color = "";
    if (level == null && name == null)
    {
        Context.Response.Redirect("/login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] || Seminar Feedback</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/js/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/azzara.min.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body data-background-color="bg2">
    <div class="wrapper">
        <!--
                Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        @if (level == "Admin")
        {
            color = "purple";
        }
        else if (level == "Trainer")
        {
            color = "light-blue";
        }
        else
        {
            color = "orange";
        }
        <div class="main-header" data-background-color=@color>
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <span class="navbar-brand text-white">Feedback</span>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="notification">4</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have 4 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-center">
                                        <a href="#">
                                            <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    New user registered
                                                </span>
                                                <span class="time">5 minutes ago</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    Rahmad commented on Admin
                                                </span>
                                                <span class="time">12 minutes ago</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    Farrah liked Admin
                                                </span>
                                                <span class="time">17 minutes ago</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="/logout" role="button">
                                <i class="fas fa-sign-out-alt" data-toggle="tooltip" data-animation="false" title="Logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/images/default.png" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @name
                                    <span class="user-level">
                                        @level
                                    </span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li><a href="/profile"><span class="link-collapse">Profile</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>

                        <li class="nav-section">
                            <span class="sidebar-mini-icon"><i class="fa fa-ellipsis-h"></i></span>
                            <h4 class="text-section">Features</h4>
                        </li>

                        @if (level == "Admin")
                        {
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#base">
                                    <i class="fas fa-layer-group"></i>
                                    <p>Training</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="base">
                                    <ul class="nav nav-collapse">
                                        <li><a href="/training"><span class="sub-item">Schedule</span></a></li>
                                        <li><a href="/typetrain"><span class="sub-item">Type</span></a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#feedback">
                                    <i class="far fa-comments"></i>
                                    <p>Feedback</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="feedback">
                                    <ul class="nav nav-collapse">
                                        <li><a href="/question"><span class="sub-item">Question</span></a></li>
                                        <li><a href="/feedback"><span class="sub-item">Report</span></a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="/account">
                                    <i class="fas fa-users-cog"></i>
                                    <p>User & Role</p>
                                </a>
                            </li>
                        }
                        else if (level == "Trainer")
                        {
                            <!-- Trainer -->
                            <li class="nav-item">
                                <a href="/trainer">
                                    <i class="far fa-question-circle"></i>
                                    <p>Create Question</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/trainer/myfeedback">
                                    <i class="far fa-comments"></i>
                                    <p>View Feedback</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/employee">
                                    <i class="far fa-comments"></i>
                                    <p>Add Feedback</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <!-- Employee -->
                            <li class="nav-item">
                                <a href="/employee">
                                    <i class="far fa-comments"></i>
                                    <p>Feedback</p>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">@ViewData["Title"]</h4>
                        @RenderSection("pageHeader", required: false)
                    </div>

                    @RenderBody()
                </div>
            </div>

        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="~/js/jquery.3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/js/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="~/js/moment.min.js"></script>

    <!-- Datatables -->
    <script src="~/js/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/js/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="~/js/bootstrap-toggle.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/js/sweetalert2@9.js"></script>

    <!-- Chart amChart -->
    <script src="~/js/amcharts4/core.js"></script>
    <script src="~/js/amcharts4/charts.js"></script>
    <script src="~/js/amcharts4/themes/animated.js"></script>

    <!-- Plugin dataTable -->
    <script src="~/js/dataTable-plugin/dataTables.buttons.min.js"></script>
    <script src="~/js/dataTable-plugin/buttons.flash.min.js"></script>
    <script src="~/js/dataTable-plugin/jszip.min.js"></script>
    <script src="~/js/dataTable-plugin/pdfmake.min.js"></script>
    <script src="~/js/dataTable-plugin/vfs_fonts.js"></script>
    <script src="~/js/dataTable-plugin/buttons.html5.min.js"></script>
    <script src="~/js/dataTable-plugin/buttons.print.min.js"></script>

    <!-- Azzara JS -->
    <script src="~/js/ready.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>